section{
position: relative;
}
section a{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
section h1, h1{
    text-align: center;
    font-size: 28px;
    margin-top: 40px;
}
table tr, p{
    text-align: center;
    font-size: 20px;

}

table tr td, table tr th{
    padding-left: 5px;
    padding-right: 5px;
}

select{
    width: 100%;
    height: 100%;
}

.margin{
    margin-left: 6em;
}
.td{
    padding-left: 6em;
}
.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 30px;
    cursor: pointer;
}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 14px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.btn-add{
    margin-bottom: 20px;
}
.btn-edit{
    margin-top: 10px;
    margin-left: 2px;
    margin-bottom: 10px;
}
.btn-delete{
    margin-left: 5px;
    margin-right: 5px;
}
.btn-save{
    margin-top: 15px;
    margin-left: 12em;
}